

body{
    background-image:url("https://ak.picdn.net/shutterstock/videos/29086012/thumb/1.jpg");
    
    height: 100%;
  background-position: center;
  
  background-size: cover;
    }

h1{
    text-align:center;
		font-size:80px;
		font-family:Arial Black;
		
		color:white;
}

p{
    color:white;
    font-family:Arial Black;
		font-size:20px;
    text-align: center;
    }

input:hover{
    
		color:rgb(241, 241, 243);
		background-color:rgb(44, 43, 43);
		
	

}

select:hover{

    color:rgb(241, 241, 243);
		background-color:rgb(44, 43, 43);
}


ul {
  list-style-type: none;
  display:flex;
  margin:10px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  }

  input{
    
    
    font-weight: bold;
    font-size:20px;
    margin-left: 20px;
    display:inline;
    padding: 5px;
    margin: 5px;


    
}


#wraper{
  display: inline-block;
}
select{

  font-weight: bold;
  font-size:20px;
  margin-left: 10px;
  
  
  
}



label{
  
  font-size:20px;
  color:white;

}

.realisateur{

  padding-left:20px;
}

.film_info{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

input[type="submit"]{
  border-radius: 8px;
}
input[type="text"]{
 margin-top: 10px;
}
label{
  font-weight: bold;
}
#updateInputs{
  margin-top: 10px;
}
select.filmSelect{
  margin-top: 10px;
}
#wrapper{
margin-left: auto;
margin-right: auto;
width: 40%;

align-items: center;
padding-left: 30%
}